%html{:lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Piedra, Papel, Tijeras
    %link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "public/css/style.css", :rel => "stylesheet"}
    %script{:src => "/public/js/bootstrap.js"}
  %body
    .row-fluid
      .span12
        %h2
          %p{align: "center"}
            %font{color: "#330066", face: "Arial"} Piedra, Papel, Tijeras.
    .container-fluid
      .row-fluid
        .span3
          %h2 Elige Jugador!
          %br
          - throws.map do |x|
            %a{:href => "?choice=#{x}"} 
              - if ("#{x}" == 'Piedra')
                %button.btn.btn-primary{type: "button"} Piedra
                %br
                %br
              - elsif ("#{x}" == 'Papel')
                %button.btn.btn-primary{type: "button"} Papel
                %br
                %br
              - elsif ("#{x}" == 'Tijeras')
                %button.btn.btn-primary{type: "button"} Tijeras
                %br
                %br
          %h2
            %font{color: "#00FF00", face: "Arial"} Partidas Ganadas: #{puntos['Ganar'].to_i}
            %br
            %font{color: "#FF0000", face: "Arial"} Partidas Perdidas: #{puntos['Perder'].to_i}
            %br
            %font{color: "#0000FF", face: "Arial"} Partidas Empatadas: #{puntos['Empatar'].to_i}
        .span9
          %br
          %br
          %br
          %br
          %h1
            %center
              %font{color: "#0080FF", face: "Arial"} Eleccion del Usuario: #{player_throw}
          %br
          %h2
            %center VS
          %br
          %h2
            %center
              %font{color: "#FF4000", face: "Arial"} Eleccion del PC: #{computer_throw} 
          %br
    
          %h2
            %center Resultado: 
          -if (do_it == 'Elige jugador')
            %h2
              %center Empieza a jugar!!
          -elsif (answer == 'jugador gana')
            %h2
              %center
                %font{color: "#00FF00", face: "Arial"} Ganaste!
          -elsif (answer == 'jugador pierde')
            %h2
              %center
                %font{color: "#FF0000", face: "Arial"} Perdiste!!!
          -elsif (answer == 'empate')
            %h2
              %center
                %font{color: "#0000FF", face: "Arial"} Empate!
      
    
